// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure>img {
    display: block;
    width: 100%;
}

// utility
.f-row {
    display: flex;
    flex-direction: row;
}

.f-col {
    display: flex;
    flex-direction: column;
}


// Containers
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}