// utility
@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

// text
@mixin menu-txt {
    font-size: 12px;
    font-weight: 600;
    color: $grey0;
}

@mixin txt-1 {
    font-size: 12px;
    font-weight: 400;
}

@mixin txt-2 {
    font-size: 18px;
    font-weight: 400;
}

@mixin title-1 {
    font-family: 'Lora', serif;
    font-size: 52px;
    font-weight: 400;
}

@mixin title-1-uppercase {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}